:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}
* {
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  margin: 0;
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}
img {
  max-width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
main {
  padding: 0.5em;
}
.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}
.logo img {
  width: 60px;
  height: 60px;
}
.logo a {
  text-decoration: none;
  color: var(--font-body);
}
.hero {
  position: relative;
}
.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -10px;
  background-color: white;
}
.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}
.logo--square > div {
  margin-top: -1.7em;
}
/* utility classes */
.highlight {
  color: var(--tertiary-color);
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
}
.divider {
  border-bottom: 2px solid var(--primary-color);
}

.hide {
  display: none !important;
}
/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}
.cart:hover svg {
  fill: gray;
}

/* End cart icon styles */

/* product grid styles */
.product-grid {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  color: var(--dark-grey);
  padding-left: 0;
}

.product-grid > li {
  width: 150px;
  /* border: 1px solid var(--light-grey); */
  padding: 0.5em;
  margin: 1em;
}
.product-grid h2 {
  margin: 0;

  font-size: 1.2em;
}
.product-grid a {
  text-decoration: none;
}
.product-grid a:link,
.product-grid a:visited {
  color: var(--dark-grey);
}
.product-grid a:hover {
  text-decoration: underline;
}
.mission {
  padding: 0 0.5em;
  /* margin: 0.5em 0; */
  line-height: 1.3;
  max-width: 600px;
  margin: auto;
}
.products {
  padding: 0.5em;
}
.title {
  text-transform: capitalize;
}
.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

.list-total {
  text-align: right;
}
.list-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
}
.list-footer > a {
  /* display: block; */
  padding: 0.3em 0.5em;
  background-color: var(--primary-color);
  text-decoration: none;
  border-radius: 5px;
}
.list-footer a:link,
.list-footer a:visited {
  color: var(--dark-grey);
}
/* Styles for product lists */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
  text-align: center;
}
.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
  text-align: left;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}
/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Start cart list card styles */
.cart-card {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  /* max-height: 120px; */
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}
.cart-card p {
  margin-top: 0;
}
.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }
  .mission {
    font-size: 1.2em;
  }
  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}

/* checkout styles */
.checkout-form {
  padding: 0.5em;
}
.checkout-form label {
  display: block;
}
.checkout-form input {
  width: 100%;
  font-size: 1.2em;
}

.checkout-summary > ul {
  padding-left: 0;
  list-style-type: none;
}
.checkout-summary li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout-summary input {
  width: 25%;
  font-size: 1em;
}

/* alert styles */
.alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  background-color: var(--primary-color);
  border: 1px solid darkorange;
}
.alert > p {
  margin: 0;
}

/* login styles */
.login-form {
  display: flex;
  flex-wrap: wrap;

  max-width: 450px;
  margin: 0 auto;
}
.login-form > p {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
/* orders styles */
#orders {
  width: 90%;
  margin: 0 auto;
  max-width: 500px;
}
#orders th {
  background-color: var(--tertiary-color);
}
.order-body td {
  text-align: center;
}
.order-body tr:nth-child(even) {
  background-color: var(--light-grey);
}
